#header {
	.container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px 4%;
		.header {
			&_logo {
				width: 120px;
				height: 40px;
				line-height: 1;
				a {
					display: block;
				}
			}
			&_list {
				display: flex;
				align-items: center;
				li {
					margin-left: 30px;
					a {
						font-size: 0.9rem;
						&:hover {
							opacity: .8;
						}
					}
				}
			}
		}
	}
}

#mainvisual {
	margin-bottom: 86px;
	img {
		height: 600px;
		width: 100%;
	}
}

.about {
	&_content {
		display: flex;
		align-items: center;
		justify-content: center;
		img {
			width: 100px;
			height: 100px;
			border-radius: 50%;
			margin-right: 30px;
		}
	}
	&_txt {
		text-align: left;
		h3 {
			padding: 10px 0;
		}
		p {
			line-height: 1.5;
			font-size: 0.9rem;
		}
	}
}

.bicycle_content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	li {
		width: 32%;
		h3 {
			padding: 16px 0 10px;
		}
	}
}

#footer {
	padding: 10px 0;
	text-align: center;
	p {
		font-size: 0.5rem;
	}
}